WMQI_JsonStats2File_APP/STATS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="NODE_STATS">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="RecordType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="BrokerLabel" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="BrokerUUID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="ExecutionGroupName" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="ExecutionGroupUUID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MessageFlowName" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="StartDate" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="StartTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="EndDate" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="EndTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="Label" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="Type" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalElapsedTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MaximumElapsedTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MinimumElapsedTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalCPUTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MaximumCPUTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MinimumCPUTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="CountOfInvocations" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="NumberOfInputTerminals" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="NumberOfOutputTerminals" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element ibmSchExtn:docRoot="true" name="FLOW_STATS">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="RecordType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="BrokerLabel" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="BrokerUUID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="ExecutionGroupName" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="ExecutionGroupUUID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MessageFlowName" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="StartDate" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="StartTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="EndDate" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="EndTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalElapsedTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MaximumElapsedTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MinimumElapsedTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalCPUTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MaximumCPUTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MinimumCPUTime" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="CPUTimeWaitingForInputMessage" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="ElapsedTimeWaitingForInputMessage" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalInputMessages" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalSizeOfInputMessages" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MaximumSizeOfInputMessages" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="MinimumSizeOfInputMessages" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="NumberOfThreadsInPool" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TimesMaximumNumberOfThreadsReached" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalNumberOfMQErrors" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalNumberOfMessagesWithErrors" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalNumberOfErrorsProcessingMessages" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalNumberOfCommits" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="TotalNumberOfBackouts" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="AccoutingOrigin" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
